<h1 class="text-center">File Data</h1>

<a href="/"><button class="btn btn-primary mx-5 mb-5"><--Go To Home</button></a>





<input type = "text" id = "search_box" class="form form-control" placeholder="search by 2nd column">
<table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">SrNo</th>
        <% for (var i = 0; i < Object.keys(file[0]).length; i++)  {%> 

          <th scope="col"><%=Object.keys(file[0])[i]%></th>
          
          
        <%}%>
      </tr>
    </thead>
    <tbody>
 
     <% var z = 1 %>
      <% for(var i of file) {%>

        <tr>
       <th scope="row"><%=z++%></th>
     <% for (var j of Object.keys(i)) {%> 
      
      <td><%= i[j] %></td>
      
      
      <%}%>
        </tr>
      

        
      <%}%>
  
    </tbody>
  </table>


  <ul class="pagination d-flex justify-content-center">
  <% for (var z = 1; z <= totalPages; z++) { %>
    <li class="page-item active mx-3">  <a class = "page-link" href="?page=<%= z %>"><%= z %></a>  </li>
   <%}%>
  </ul>
  




  <script src="/js/table.js"></script>