<h1>hello</h1>





<input type = "text" id = "search_box" class="form form-control" placeholder="search by 2nd column">
<table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">SrNo</th>
        <% for (var i = 0; i < Object.keys(file[0]).length; i++)  {%> 

          <th scope="col"><%=Object.keys(file[0])[i]%></th>
          
          
        <%}%>
      </tr>
    </thead>
    <tbody>
 
     <% var z = 1 %>
      <% for(var i of file) {%>

        <tr>
       <th scope="row"><%=z++%></th>
     <% for (var j of Object.keys(i)) {%> 
      
      <td><%= i[j] %></td>
      
      
      <%}%>
        </tr>
      

        
      <%}%>
  
    </tbody>
  </table>


  
  <% for (var z = 1; z <= totalPages; z++) { %>
      <a href="?page=<%= z %>"><%= z %></a>
   <%}%>
  




  <script src="/js/table.js"></script>